<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.robot.cloud.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.lenovo.robot.cloud.model.User">
		<id column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="weixin" property="weixin" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="VARCHAR" />
		<result column="del" property="del" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		userid, name, phone, email, age, username, password, weixin, qq, company, createTime, updateTime, del
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from a_user
		where userid = #{userid, jdbcType=VARCHAR}
	</select>
	<!-- 这个方法是我自己加的 -->
	<select id="selectAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from a_user
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from a_user
		where userid = #{userid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.lenovo.robot.cloud.model.User">
		insert into a_user (userid, name, phone, email, age, username, password, weixin, qq, company, createTime, updateTime, del)
		values (#{userid,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{weixin,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},
		#{company,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR},
		#{del,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.lenovo.robot.cloud.model.User">
		insert into a_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="weixin != null">
				weixin,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="del != null">
				del,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="weixin != null">
				#{weixin,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="del != null">
				#{del,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lenovo.robot.cloud.model.User">
		update a_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="weixin != null">
				password = #{weixin,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="del != null">
				del = #{del,jdbcType=VARCHAR},
			</if>
		</set>
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lenovo.robot.cloud.model.User">
		update a_user
		set
		name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		password = #{weixin,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		company = #{company,jdbcType=VARCHAR},
		createTime = #{createTime,jdbcType=VARCHAR},
		updateTime = #{updateTime,jdbcType=VARCHAR},
		del = #{del,jdbcType=VARCHAR}
		where
		userid = #{userid,jdbcType=VARCHAR}
	</update>
</mapper>